.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 5vh;
    background-color: #F7F7F7;
}

.store__navigation{
    padding-left: 1%;
    padding-top: 5vh;
    width: 20vw;
    height: 85vh;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

hr {
    margin: 10px;
}

.main_section__container {
    display: flex;
    flex-direction: row;
}

.content__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content__header {
    width: 100%;
    height: 5vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}

.content__main {
    padding: 5vw 0 0 5vh;
    width: 100%;
    height: 80vh;
    background-color: #FFFFFF;
}

.wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.header__element {
    padding: 10px;
    cursor: pointer;
}

.header__element:hover {
    background-color: rgba(0, 119, 170, 0.25);
}

.nav__tree {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__folder {
    color: #000000;
    display: flex;
    align-items: center;
}

.nav__folder.active {
    color: rgba(0, 72, 255, 0.5);
}

.nav__file {
    color: #000000;
    display: flex;
    align-items: center;
}

.nav__file.active {
    color: rgba(0, 72, 255, 0.5);
}

.removed {
    color: yellow;
}

.tabs {
    width: 20vh;
    height: 98%;
    background-color: rgba(160, 204, 252, 0.25);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
    border: 2px solid #0077aa;
}

.delete__btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #FEFEFE;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    background: #FEFEFE;
    color: #000;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #08449A;
    z-index: 9999;
}

.icons {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.nav__item:hover {
    background-color: rgba(0, 119, 170, 0.25);
    cursor: pointer;
}

[contenteditable] {
    outline: 0px solid transparent;
}